@import url(normalize.css);
/* MEDIA */
/* COLORS */
@font-face {
  font-family: 'PTSansNarrow';
  src: url("../fonts/ptsansnarrow.woff2") format("woff2"), url("../fonts/ptsansnarrow.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PTSansNarrow';
  src: url("../fonts/ptsansnarrowbold.woff2") format("woff2"), url("../fonts/ptsansnarrowbold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

* {
  box-sizing: border-box;
  font-family: 'PTSansNarrow', Arial, sans-serif; }

body {
  background: #242424;
  color: #ffffff; }

a, div, section, header, footer, nav,
main, h1, h2, article, label,
img, li, table, button {
  outline: 1px solid #DADADA; }

.wrapper-center {
  display: inherit;
  flex-flow: inherit;
  justify-content: inherit;
  width: inherit; }
  @media (min-width: 768px) {
    .wrapper-center {
      width: 83.33%;
      margin: 0 auto; } }
  @media (min-width: 1200px) {
    .wrapper-center {
      width: 960px;
      margin: 0 auto; } }

.page-header {
  display: flex;
  flex-flow: column;
  min-height: 136px;
  color: #ffffff;
  font-weight: bold; }
  .page-header a {
    color: inherit;
    text-decoration: none; }

.page-header__logo {
  display: flex;
  height: 85px; }
  .page-header__logo picture {
    margin: auto; }

.page-header__menu {
  display: flex;
  flex-flow: row wrap;
  min-height: 50px;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase; }
  .page-header__menu ul {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
    margin: 0;
    padding: 0;
    list-style: none; }
  .page-header__menu a {
    flex: 1;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 13px;
    padding-left: 20px; }

.page-header__btnMenu {
  width: 70px; }

.page-header__item {
  flex: 1 1 100%;
  min-height: 51px;
  background: #826550; }

.page-header__item--user-block a {
  padding-left: 50px;
  text-transform: none;
  font-weight: normal; }

.page-header__menu--nojs .page-header__btnMenu {
  display: none; }

.page-header__menu--nojs .page-header__item,
.page-header__menu--nojs .page-header__item--user-block {
  display: block; }

.page-header__menu--closed a {
  padding-right: 60px;
  text-align: right; }

.page-header__menu--closed .page-header__btnMenu {
  display: block; }
  @media (min-width: 768px) {
    .page-header__menu--closed .page-header__btnMenu {
      display: none; } }

.page-header__menu--closed .page-header__item {
  flex-basis: auto; }

@media (max-width: 767px) {
  .page-header__menu--closed .page-header__item,
  .page-header__menu--closed .page-header__item--user-block {
    display: none; } }

.page-header__menu--closed .page-header__item--current {
  display: block;
  min-height: 51px; }

@media (max-width: 767px) {
  .page-header__menu--closed .page-header__item--current a {
    text-align: center; } }

.page-header__menu--opened {
  position: absolute;
  top: 85px; }
  .page-header__menu--opened .page-header__btnMenu {
    position: absolute;
    order: -1;
    height: 50px; }
  .page-header__menu--opened .page-header__item {
    margin-left: 70px; }

/* Tablet version */
@media (min-width: 768px) {
  .page-header {
    min-height: 470px; }
  .page-header__menu {
    order: -1;
    justify-content: space-between;
    min-height: 72px;
    background: #000000; }
    .page-header__menu ul {
      flex-flow: row wrap;
      flex: 0 0 auto; }
    .page-header__menu a {
      padding: 25px 10px 0px;
      text-align: center; }
  .page-header__container-left {
    width: 570px; }
  .page-header__container-right a {
    padding: 25px 15px 0px; }
  .page-header__item {
    flex: 0 0 auto;
    background: none; }
  .page-header__logo {
    height: 180px; } }

@media (min-width: 1200px) {
  .wrapper-center {
    padding: 0px 10px; }
  .page-header__container-left {
    width: 800px; }
  .page-header__menu a {
    padding: 25px 31px 0px; }
  .page-header__item--user-block a {
    padding: 25px 20px 0px 50px;
    text-transform: uppercase;
    font-weight: bold; } }
