@import url(normalize.css);
/* MEDIA */
/* COLORS */
@font-face {
  font-family: 'PTSansNarrow';
  src: url("../fonts/ptsansnarrow.woff2") format("woff2"), url("../fonts/ptsansnarrow.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PTSansNarrow';
  src: url("../fonts/ptsansnarrowbold.woff2") format("woff2"), url("../fonts/ptsansnarrowbold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

* {
  box-sizing: border-box;
  font-family: 'PTSansNarrow', Arial, sans-serif; }

body {
  background: #242424;
  color: #ffffff; }
  @media (min-width: 768px) {
    body {
      background: #353535; } }

a, div, section, header, footer, nav,
main, h1, h2, p, article, label,
img, li, table, tr, td, button, time, b {
  outline: 1px solid #DADADA; }

.slider .slider__toggles {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  text-align: center; }

.slider .slider__toggle {
  flex: 0 1 auto;
  width: 25px;
  height: 25px;
  margin: 0px 12px;
  border: 2px solid #ffffff;
  border-radius: 12.5px; }
  .slider .slider__toggle--active {
    background: #ffffff; }

.slider .slider__item {
  display: none; }
  .slider .slider__item--active {
    display: block; }

@media (min-width: 768px) {
  .slider .slider__item {
    display: block; }
  .slider .slider__toggles {
    display: none; } }

.slider--nojs .slider__item {
  display: block; }

.slider--nojs .slider__toggles {
  display: none; }

.btn {
  display: block;
  width: 100%;
  padding: 15px 0px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #e5ddd5; }
  .btn--border-ash {
    border: 1px solid #3e3e3e; }

.wrapper-center {
  width: 100%;
  display: inherit;
  flex-flow: inherit;
  justify-content: inherit;
  width: inherit; }
  @media (min-width: 768px) {
    .wrapper-center {
      width: 83.33%;
      margin: 0 auto; } }
  @media (min-width: 1200px) {
    .wrapper-center {
      width: 960px;
      margin: 0 auto; } }

.page-header {
  display: flex;
  flex-flow: column;
  min-height: 136px;
  color: #ffffff;
  font-weight: bold; }
  .page-header a {
    color: inherit;
    text-decoration: none; }
  @media (min-width: 768px) {
    .page-header {
      background: #242424 url("../img/back-desktop.jpg") no-repeat center top;
      background-size: cover; } }
  @media (min-width: 1200px) {
    .page-header .wrapper-center {
      padding: 0px 10px; } }

.page-header__logo {
  display: flex;
  height: 85px; }
  .page-header__logo picture {
    margin: auto; }

.page-header__menu {
  display: flex;
  flex-flow: row wrap;
  min-height: 50px;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase; }
  .page-header__menu ul {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
    margin: 0;
    padding: 0;
    list-style: none; }
  .page-header__menu a {
    flex: 1;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 13px;
    padding-left: 20px; }

.page-header__btnMenu {
  width: 70px;
  height: 50px; }

.page-header__item {
  flex: 1 1 100%;
  min-height: 51px;
  background: #826550; }

.page-header__item--user-block a {
  padding-left: 50px;
  text-transform: none;
  font-weight: normal; }

.page-header__menu--closed a {
  padding-right: 60px;
  text-align: right; }

.page-header__menu--closed .page-header__btnMenu {
  display: block; }
  @media (min-width: 768px) {
    .page-header__menu--closed .page-header__btnMenu {
      display: none; } }

.page-header__menu--closed .page-header__item {
  flex-basis: auto; }

@media (max-width: 767px) {
  .page-header__menu--closed .page-header__item,
  .page-header__menu--closed .page-header__item--user-block {
    display: none; } }

.page-header__menu--closed .page-header__item--current {
  display: block;
  min-height: 51px; }

@media (max-width: 767px) {
  .page-header__menu--closed .page-header__item--current a {
    padding: 13px 0px 0px;
    padding-left: 70px;
    text-align: center; } }

.page-header__menu--opened {
  position: absolute;
  z-index: 10;
  top: 85px; }
  .page-header__menu--opened .page-header__btnMenu {
    position: absolute;
    order: -1; }
  .page-header__menu--opened .page-header__item {
    margin-left: 70px; }

.page-header__menu--nojs {
  position: static; }
  .page-header__menu--nojs .page-header__item {
    margin-left: 0px; }
  .page-header__menu--nojs .page-header__btnMenu {
    display: none; }
  .page-header__menu--nojs .page-header__item,
  .page-header__menu--nojs .page-header__item--user-block {
    display: block; }

/* Tablet version */
@media (min-width: 768px) {
  .page-header {
    min-height: 470px; }
  .page-header__menu {
    order: -1;
    justify-content: space-between;
    min-height: 72px;
    background: #000000; }
    .page-header__menu ul {
      flex-flow: row wrap;
      flex: 0 0 auto; }
    .page-header__menu a {
      padding: 25px 10px 0px;
      text-align: center; }
  .page-header__container-left {
    width: 570px; }
  .page-header .page-header__container-right {
    flex: 0 0 auto;
    width: 10%; }
    .page-header .page-header__container-right a {
      padding: 25px 15px 0px; }
    .page-header .page-header__container-right li {
      flex-basis: 100%; }
  .page-header__item {
    flex: 0 0 auto;
    background: none; }
  .page-header__logo {
    height: 180px; }
  .page-header__item--user-block {
    font-size: 0; } }

@media (min-width: 1200px) {
  .page-header {
    min-height: 720px; }
  .page-header__container-left {
    width: 800px; }
  .page-header__menu a {
    padding: 25px 31px 0px;
    text-align: right; }
  .page-header__item--user-block {
    font-size: inherit; }
    .page-header__item--user-block a {
      padding: 25px 20px 0px 50px;
      text-transform: uppercase;
      font-weight: bold; }
  .page-header__logo {
    height: 270px; } }

.page-main .page-main__text {
  font-size: 20px;
  line-height: 27px; }
  .page-main .page-main__text--small {
    font-size: 18px; }

.page-main h1, .page-main p {
  padding: 0;
  margin: 0; }

.page-main h1 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase; }

@media (min-width: 1200px) {
  .stats {
    display: flex;
    margin-top: -158px; } }

.stats .stats__header {
  min-height: 183px;
  padding: 27px 40px;
  color: #000000;
  text-align: center;
  background: #ffffff; }
  .stats .stats__header h1 {
    width: 75.25%;
    margin: 0 auto;
    margin-bottom: 15px; }
    @media (min-width: 768px) {
      .stats .stats__header h1 {
        width: 50%;
        margin: 0;
        margin-bottom: 0;
        font-size: 40px;
        line-height: 40px;
        text-transform: none; } }
    @media (min-width: 1200px) {
      .stats .stats__header h1 {
        width: 100%; } }
  @media (min-width: 768px) {
    .stats .stats__header .page-main__text {
      width: 50%;
      padding: 7px 33px; } }
  @media (min-width: 1200px) {
    .stats .stats__header .page-main__text {
      width: 100%;
      padding: 30px 25px 0px 0px; } }
  @media (min-width: 768px) {
    .stats .stats__header {
      display: flex;
      flex-flow: row wrap;
      margin-top: -185px;
      text-align: left; } }
  @media (min-width: 1200px) {
    .stats .stats__header {
      width: 440px;
      margin-top: 0; } }

.stats .stats__table {
  min-height: 317px;
  width: 100%;
  border-collapse: collapse; }
  .stats .stats__table tr {
    height: 77px; }
  .stats .stats__table tr:nth-child(n + 1) {
    background-color: #404040; }
  .stats .stats__table tr:nth-child(n + 2) {
    background-color: #4e4e4e; }
  .stats .stats__table tr:nth-child(n + 3) {
    background-color: #353535; }
  .stats .stats__table tr:nth-child(n + 4) {
    background-color: #404040; }
  .stats .stats__table td {
    width: 50%; }
  .stats .stats__table .stats__value {
    font-size: 40px;
    line-height: 18px;
    padding-left: 6.25%;
    text-align: left; }
  .stats .stats__table .stats__desc {
    font-size: 18px;
    line-height: 18px;
    padding-left: 28px;
    padding-right: 6.25%;
    text-align: right; }
  @media (min-width: 768px) {
    .stats .stats__table {
      display: flex; }
      .stats .stats__table tbody {
        display: inherit;
        flex-flow: row wrap;
        width: 100%; }
      .stats .stats__table tr {
        display: flex;
        flex-flow: column wrap;
        flex: 1 0 50%;
        height: auto; }
      .stats .stats__table td {
        flex: 1 0 auto;
        width: 100%; }
      .stats .stats__table .stats__value {
        padding-left: 11%;
        padding-top: 15px;
        font-size: 72px;
        font-weight: bold;
        line-height: normal; }
      .stats .stats__table .stats__desc {
        min-height: 49px;
        padding-left: 11%;
        font-size: 20px;
        text-align: left; } }

.stats .stats__small {
  margin: 0 auto;
  padding-top: 13px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3); }
  @media (min-width: 768px) {
    .stats .stats__small {
      flex: 0 0 100%;
      text-align: left; } }

.stats .stats__small--mobile {
  display: block; }
  @media (min-width: 768px) {
    .stats .stats__small--mobile {
      display: none; } }

.stats .stats__small--not-mobile {
  display: none; }
  @media (min-width: 768px) {
    .stats .stats__small--not-mobile {
      display: block;
      padding-top: 0;
      align-self: flex-end;
      color: rgba(0, 0, 0, 0.3); } }

.features {
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 40px; }
  @media (min-width: 768px) {
    .features {
      padding-bottom: 55px; } }
  @media (min-width: 1200px) {
    .features {
      flex-flow: row wrap; } }
  .features ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    @media (min-width: 1200px) {
      .features ul {
        display: flex; } }
  .features h1 {
    margin-bottom: 14px; }
  .features .features__image {
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .features .features__image {
        margin-right: 4.5%; } }
    @media (min-width: 1200px) {
      .features .features__image {
        margin: 30px 0px 29px; } }
  .features .features__item {
    padding: 40px 14%;
    padding-bottom: 0px;
    min-height: 340px;
    text-align: center; }
    @media (min-width: 768px) {
      .features .features__item {
        display: flex;
        align-items: flex-start;
        padding: 48px 5%;
        padding-bottom: 0px;
        min-height: 175px;
        text-align: left; } }
    @media (min-width: 1200px) {
      .features .features__item {
        display: block;
        flex: 1 1 33.33%;
        padding: 48px 4%;
        text-align: center; } }

.news {
  display: flex;
  flex-flow: column wrap;
  padding: 33px 6% 28px;
  width: 100%;
  color: #000000;
  border-bottom: 1px solid #e5ddd5;
  background: #f8f5f2; }
  @media (min-width: 768px) {
    .news {
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 38px 0px 28px; } }
  .news h1 {
    margin-bottom: 11px;
    text-align: center; }
    @media (min-width: 768px) {
      .news h1 {
        align-content: flex-start;
        order: 1;
        width: 70%;
        margin-top: 13px;
        font-size: 40px;
        text-align: left; } }
  .news .news__news-item {
    flex: 1 1 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 17px 0px; }
    .news .news__news-item:nth-of-type(n+3) {
      display: none; }
    .news .news__news-item:nth-of-type(n+2) {
      border-top: 1px solid #e5ddd5; }
    @media (min-width: 768px) {
      .news .news__news-item {
        flex: 1 1 50%;
        order: 3;
        margin-top: 28px;
        border: none; } }
  .news .news__date {
    flex: 0 0 50px;
    height: 50px;
    margin-right: 7%;
    margin-top: 12px;
    padding: 8px 0px 0px;
    color: #ffffff;
    text-align: center;
    background: #000000; }
    .news .news__date b {
      display: block;
      font-size: 30px;
      line-height: 22px;
      font-weight: bold; }
    .news .news__date small {
      display: block;
      font-size: 16px; }
  .news .page-main__text {
    flex: 1 1; }
  .news .btn {
    margin-top: 4px; }
    @media (min-width: 768px) {
      .news .btn {
        width: 160px;
        order: 2; } }
