* {
	box-sizing: border-box;
	font-family: 'PTSansNarrow', Arial, sans-serif;
}
body {
	background: $color-body-background;
	color: #ffffff;

	@media #{$tablet-width} {
		background: $color-body-background-2;
	}
}
