@mixin header-color() {
  background: gray;
}

@mixin container {

  width: 100%;

  @media (min-width: 768px) {
    width: 83.33%;
    margin: 0 auto;
  }
  @media (min-width: 1200px) {
    width: 960px;
    margin: 0 auto;
  }
}

@mixin btn-fixed {
  width: 160px;
}

@mixin img-div-fix {
  display: block;
  margin: 0;
  padding: 0;
}

@mixin margin-bottom {
  margin-bottom: 15px;
}

@mixin add-round-brakets {
  &::before {
    display: inline;
    content: "(";
  }
  &::after {
    display: inline;
    content: ")";
  }
}


@mixin reset-pad-mar {
  padding: 0;
  margin: 0;
}
@mixin reset-fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

@mixin flex-inherit {
  display: inherit;
  flex-flow: inherit;
  justify-content: inherit;
  align-items: inherit;
}

@mixin input-text-style {
  padding: 14px 17px;

  font-size: 18px;
  font-family: "PTSansNarrow", sans-serif;

  border: 1px solid $color-border-cream;

  /*
  @media #{$tablet-width} {
    padding: 20px 22px;

    font-size: 24px;
  }
  */
}

@mixin label-checkbox-custom($padding-left:40px) {
  position: relative;
  display: block;
  padding: 8px 16px 8px $padding-left;

  &::before {
    position: absolute;
    display: block;
    content: "";

    top: 0;
    left: 0;
    width: 32px;
    height: 32px;

    background: #ffffff;

    border: 2px solid $color-border-cream;
  }
}
@mixin input-custom {
  display: none;

  &:checked + label::after {
    position: absolute;
    content: "X";

    top: 0;
    left: 10px;

    font-size: 2rem;
    color: #000000;
  }
}