@mixin header-color() {
  background: gray;
}

@mixin container {

  width: 100%;

  @media (min-width: 768px) {
    width: 83.33%;
    margin: 0 auto;
  }
  @media (min-width: 1200px) {
    width: 960px;
    margin: 0 auto;
  }
}