/* MEDIA */
$mobile-width-max: "(max-width: 767px)";

$tablet-width: "(min-width: 768px)";
$desktop-width: "(min-width: 1200px)";

$mobile-only-width: "(max-width: 500px)";

/* COLORS */
$color-body-background: #242424;
$menu-mobile-color: #826550;
$menu-tablet-color: #000000;