/* MEDIA */
$mobile-width-max: "(max-width: 767px)";

$tablet-width: "(min-width: 768px)";
$desktop-width: "(min-width: 1200px)";

$mobile-only-width: "(max-width: 500px)";

/* COLORS */
$color-body-background: #242424;
$color-body-background-2: #353535;
$color-section-background-light: #f8f5f2;
$color-footer-background: #292929;

$menu-mobile-color: #826550;
$menu-tablet-color: #000000;

$color-border-cream: #e5ddd5;
$color-border-ash: #3e3e3e;

$table-tr-1: #404040;
$table-tr-2: #4e4e4e;
$table-tr-3: #353535;
$table-tr-4: #404040;

$color-ash-light: #727272;

$btn-copy-hover: #9204ff;