.btn {
  display: block;
  width: 100%;
  padding: 15px 0px;

  font-size: 18px;
  font-weight: bold;
  text-align: center;
  
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;

  border: 1px solid $color-border-cream;
  cursor: pointer;
  user-select: none;

  &--border-ash {
    border: 1px solid $color-border-ash;
  }

  &--tel {
    @media #{$tablet-width} {
      display: inline;
      width: auto;
      padding: 0;
  
      font-size: inherit;
      font-weight: normal;
      text-transform: none;
      text-align: left;
  
      border: none !important;
      user-select: auto;

      &::before {
        display: inline;
        content: "Тел: ";
      }
    }
  }

  &--social {
    font-size: 0px;
  }

  &--copyright {
    &:hover {
      background: $btn-copy-hover;
    }
  }

  &--submit {
    color: #ffffff;
    font-family: "PTSansNarrow", sans-serif;

    border: none;
    background: $menu-mobile-color;
  }

  &--clear-bg {
    @extend .btn--submit;

    color: #000000;

    border: 1px solid $color-border-cream;
    background: none;
  }
}