.btn {
  display: block;
  width: 100%;
  padding: 15px 0px;

  font-size: 18px;
  font-weight: bold;
  text-align: center;
  
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;

  border: 1px solid $color-border-cream;
  cursor: pointer;
  user-select: none;

  &--border-ash {
    border: 1px solid $color-border-ash;
  }

  &--tel {
    @media #{$tablet-width} {
      display: inline;
      width: auto;
      padding: 0;
  
      font-size: inherit;
      font-weight: normal;
      text-transform: none;
  
      border: none !important;
      user-select: auto;
    }
  }

  &--social {
    font-size: 0px;
  }
}