.btn {
  display: block;
  width: 100%;
  padding: 15px 0px;

  font-size: 18px;
  font-weight: bold;
  text-align: center;
  
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;

  border: 1px solid $color-border-cream;

  &--border-ash {
    border: 1px solid $color-border-ash;
  }
}