.btn {
  display: block;
  width: 100%;
  padding: 15px 0px;

  font-size: 18px;
  font-weight: bold;
  text-align: center;
  
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;

  border: 1px solid $color-border-cream;
  cursor: pointer;
  user-select: none;

  &:hover {
    border-color: $color-border-cream-active;
  }
  &:active {
    color: $btn-active-text;

    background: $btn-active-bg;
  }

  &--border-ash {
    border: 1px solid $color-border-ash;
  }

  &--tel {
    @media #{$tablet-width} {
      display: inline;
      width: auto;
      padding: 0;
  
      font-size: inherit;
      font-weight: normal;
      text-transform: none;
      text-align: left;
  
      border: none !important;
      user-select: auto;

      &::before {
        display: inline;
        content: "Тел: ";
      }
    }
  }

  &--social {
    font-size: 0px;
  }
  &--social:active {
    background: $btn-footer-active-bg;
  }
  &--vk,
  &--fs,
  &--ins {
    display: flex;

    &:active:before {
      opacity: 0.5;
    }
  }
  &--vk:before,
  &--fs:before,
  &--ins:before {
    margin: auto auto;
    width: 32px;
    height: 32px;
  }
  &--vk:before {
    @include pseudo-elem(static);

    background: url($path-sprite) no-repeat center top;
    background-position: -16px -1446px;
  }
  &--fs:before {
    @include pseudo-elem(static);

    background: url($path-sprite) no-repeat center top;
    background-position: -16px -758px;
  }
  &--ins:before {
    @include pseudo-elem(static);

    background: url($path-sprite) no-repeat center top;
    background-position: -16px -886px;
  }

  &--social:hover,
  &--copyright:hover {
    border: 1px solid $color-border-ash-lt !important;
  }

  &--copyright {
    &:hover {
      background: $btn-copy-hover;
    }
    &:active {
      color: #EDEDED;
      background: $btn-copy-active;
    }
  }

  &--submit {
    color: #ffffff;
    font-family: "PTSansNarrow", sans-serif;

    border: none;
    background: $menu-mobile-color;
  }

  &--clear-bg {
    @extend .btn--submit;

    color: #000000;

    border: 1px solid $color-border-cream;
    background: none;
  }
}