.page-main {
  // @include container;

  .page-main__text {
    font-size: 20px;
    line-height: 27px;

    &--small {
      font-size: 18px;
    }
  }

  h1, p {
    padding: 0;
    margin: 0;
  }

  h1 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
  }
}