.page-header {
  display: flex;
  flex-flow: column;
  min-height: 136px;

  color: #ffffff;
  font-weight: bold;

  a {
    color: inherit;
    text-decoration: none;
  }

  @media #{$tablet-width} {
    background: $color-body-background url("../img/back-desktop.jpg") no-repeat center top;
		background-size: cover;
  }

  @media #{$desktop-width} {
    .wrapper-center {
      padding: 0px 10px;
    }
  }
}

.page-header__logo {
  display: flex;
  height: 85px;

  picture {
    margin: auto;
  }
}

.page-header__menu {
  display: flex;
  flex-flow: row wrap;
  min-height: 50px;
  width: 100%;

  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;

  ul {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
    margin: 0; 
    padding: 0; 
    list-style: none;
  }

  a {
    flex: 1;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 13px;
    padding-left: 20px;
  }
}

.page-header__btnMenu {
  width: 70px;
  height: 50px;
}

.page-header__item {
  flex: 1 1 100%;
  min-height: 51px;

  background: $menu-mobile-color;
}
.page-header__item--user-block {
  a {
    padding-left: 50px;

    text-transform: none;
    font-weight: normal;
  }
}

.page-header__menu--closed {

  a {
    padding-right: 60px;

    text-align: right;
  }

  .page-header__btnMenu {
    display: block;

    @media #{$tablet-width} {
      display: none;
    }
  }

  .page-header__item {
    flex-basis: auto;
  }

  @media #{$mobile-width-max} {
    .page-header__item,
    .page-header__item--user-block {
      display: none;
    }
  }
  
  .page-header__item--current {
    display: block;
    min-height: 51px;
  }
  @media #{$mobile-width-max} {
    .page-header__item--current a {
      padding: 13px 0px 0px;
      padding-left: 70px;

      text-align: center;
    }
  }
}

.page-header__menu--opened {

  position: absolute;
  z-index: 10;
  top: 85px;

  .page-header__btnMenu {
    position: absolute;
    order: -1;
  }

  .page-header__item {
    margin-left: 70px;
  }
}

.page-header__menu--nojs {
  
    position: static;
    
    .page-header__item {
      margin-left: 0px;
    }
    
    .page-header__btnMenu {
      display: none;
    }
  
    .page-header__item,
    .page-header__item--user-block {
      display: block;
    }
  }

/* Tablet version */
@media #{$tablet-width} {

  .page-header {
    min-height: 470px;
  }

  .page-header__menu {
    order: -1;
    justify-content: space-between;
    min-height: 72px;

    background: $menu-tablet-color;

    ul {
      flex-flow: row wrap;
      flex: 0 0 auto;
    }

    a {
      padding: 25px 10px 0px;
      text-align: center;
    }
  }
  
  .page-header__container-left {
    width: 570px;
  }
  .page-header .page-header__container-right {

    flex: 0 0 auto;
    width: 10%;
    
    a {
      padding: 25px 15px 0px;
    }

    li {
      flex-basis: 100%;
    }
  }
 

  .page-header__item {
    flex: 0 0 auto;

    background: none;
  }

  .page-header__logo {
    height: 180px;
  }

  .page-header__item--user-block {
    font-size: 0;
  }
}

@media #{$desktop-width} {

  .page-header {
    min-height: 720px;
  }

  .page-header__container-left {
    width: 800px;
  }

  .page-header__menu {

    a {
      padding: 25px 31px 0px;
      text-align: right;
    }
  }

  .page-header__item--user-block {

    font-size: inherit;

    a {
      padding: 25px 20px 0px 50px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .page-header__logo {
    height: 270px;
  }
}