.price-list {
  display: flex;
  flex-flow: row wrap;

  padding: 36px 6% 54px;

  background: $color-body-background-2;

  h1 {
    margin: 0px auto 22px;
  }

  .price-list__table {
    width: 100%;
    padding: 0;

    font-size: 20px;

    @media #{$mobile-width-max} {
      
      .price-list__number {
        display: none;
      }

      .price-list__service-extra {
        order: 10;
        flex: 1 1 100%;

        @include add-round-brakets;
      }

      .price-list__service {
        flex: 1 1 70%;

        font-weight: bold;
      }

      .price-list__price {
        flex: 1 1 auto;

        text-align: right;
      }

      tr {
        display: flex;
        flex-flow: row wrap;

        margin-bottom: 19px;
      }
    }
  }

  .price-list__extra {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    width: 100%;
    margin-top: 10px;
    padding: 15px 20px;

    border: 1px solid $color-border-ash;

    img {
      display: block;
      width: 58px;
      height: 58px;
    }
  }
}