.works {
  display: flex;
  flex-flow: row wrap;
  
  padding: 29px 6% 70px;
  // padding-bottom: 111px; /* TEMP HACK */

  color: #000000;

  background: $color-section-background-light;

  @media #{$tablet-width} {
    padding: 51px 0px 70px;
    margin-top: -183px;
    // padding-bottom: 106px; /* TEMP HACK */
  }

  @media #{$desktop-width} {
    justify-content: space-between;
    align-content: flex-start;

    padding: 51px 0px 87px;
    margin-top: -340px;
  }

  h1 {
    margin: 0px auto 10px;

    @media #{$tablet-width} {
      margin: 10px auto 10px 0px;

      font-size: 40px;
    }
  }

  .works__content-right {

    @media #{$tablet-width} {
      display: flex;
      flex-flow: row wrap;
      flex: 1 1;
      padding: 15px 27px;
    }

    @media #{$desktop-width} {
      min-height: 247px;
    }
  }

  .works__item {
    flex: 1 1 100%;

    margin-top: 20px;

    border: 1px solid $color-border-cream;

    @media #{$tablet-width} {
      display: flex;
      flex-flow: row wrap;
      
      margin-top: 38px;
    }

    @media #{$desktop-width} {
      align-content: flex-start;

      flex: 0 1 294px;
    }

    .works__photo {
      height: 176px;

      @media #{$tablet-width} {
        height: 293px;
        width: 42.18%;
      }

      @media #{$desktop-width} {
        width: 100%;
      }

      &--1 {
        background: $table-tr-2 url("../img/photo-1-desktop.jpg") no-repeat right top;
        background-size: cover;
      }
      &--2 {
        background: $table-tr-2 url("../img/photo-2-desktop.jpg") no-repeat right top;
        background-size: cover;
      }
      &--3 {
        background: $table-tr-2 url("../img/photo-3-desktop.jpg") no-repeat right top;
        background-size: cover;
      }
      &--4 {
        background: $table-tr-2 url("../img/photo-4-desktop.jpg") no-repeat right top;
        background-size: cover;
      }
      
    }
    &--favorite {
      position: relative;

      @media #{$desktop-width} {
        flex: 1 1 100%;
        margin-top: 80px;

        .works__content-right {
          padding: 100px 18px 15px;
        }
      }

      &::before {
        position: absolute;
        display: block;
        left: 0;
        top: 400px;

        content: "Работа месяца";
        padding: 13px 25px;

        font-size: 20px;
        color: #ffffff;
        text-transform: uppercase;
        
        background: $menu-mobile-color;

        @media #{$tablet-width} {
          top: 34px;
        }

        @media #{$desktop-width} {
          left: auto;
          right: 0;
        }
      }

      .works__photo {
        height: 480px;

        @media #{$desktop-width} {
          width: 50%;
        }
      }

      .works__desc {
        
        @media #{$desktop-width} {
          padding: 17px 23px !important;
        }
      }
    }

    .works__desc {
      width: 100%;
      padding: 17px 23px;

      @media #{$desktop-width} {
        padding: 3px 7px;
      }

      h1 {
        margin-bottom: 13px;

        font-size: 24px;
        text-transform: none;

        @media #{$tablet-width} {
          margin-bottom: 25px;
        }
      }
    }

    .works__tags {
      display: flex;
      flex-flow: row wrap;

      width: 100%;
      padding: 0px 23px;

      font-size: 16px;
      text-transform: uppercase;

      @media #{$tablet-width} {
        align-self: flex-end;
      }

      .works__tag {
        flex: 0 0 auto;

        padding: 2px 19px;
        padding-left: 36px;
        margin-bottom: 20px;
      }
    }
  }

  .page-main__text {
    font-size: 18px;
  }

  .btn {

    @media #{$mobile-width-max} {
      display: none;
    }

    @media #{$tablet-width} {
      @include btn-fixed;
    }
  }
}